<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyEnglish App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2b44466c1c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">
            <h1>Regole: inizia il quiz, clicca 'registra' e pronuncia la frase mostrata a schermo. 
                Più la tua pronuncia sarà corretta, maggiore sarà il tuo punteggio. <br>Sei pronto? Inizia!</h1>
            <a href="/quiz.html" class="btn">Inizia quiz</a>
        </div>
    </div>

</body>
</html>